<table width="466" border="0">
	<tr>
		<td colspan="3">
			<img src="images/u-sports.png"/><br>
		</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:center;">
			<img src="images/su-duke.png"/>
		</td>
	</tr>
	<tr style="color:white;background-color:black;">
		<td width="200">
			<div id="timer">First Half</div>
		</td>
		<td style="text-align:center;">
			1
		</td>	
		<td style="text-align:center;">
			2
		</td>			
	</tr>	
	<tr>
		<td>
			<img src="images/su.png"/>
		</td>
		<td style="text-align:center;">
			<div id="su-score">36</div>
		</td>		
		<td>
		</td>
	</tr>	
	<tr>
		<td>
			<img src="images/duke.png"/>
		</td>
		<td style="text-align:center;">
			<div id="duke-score">33</div>
		</td>		
		<td>
		</td>
	</tr>	
	<tr>
		<td colspan="3" style="text-align:center;color:white;background-color:black;">
			Ticker
		</td>
	</tr>
	
</table>	
<div style="display:block;width:466px;height:380px;overflow:hidden">
			<div id="ticker1" style="display:none;text-align:center;"><b>End of first half</b></div>
			<div id="ticker2" style="display:none">Duke: Amile Jefferson made Dunk. Assisted by Rasheed Sulaimon.</div>
			<div id="ticker3" style="display:none">SU: Jerami Grant made Free Throw.</div>
			<div id="ticker4" style="display:none">SU: Jerami Grant made Free Throw.</div>
			<div id="tickerx">Duke: Foul on Andre Dawkins.</div>
			<div id="tickerx">SU: Jerami Grant Defensive Rebound.</div>
</div>
<div id="content" style="background-color:white;border-style:dotted;display:none;position:absolute;left:50px;top:90px;"></div>	
<div style="height:900px;dsiplay:block;background-color:white"></div>	