body {
  zoom:53%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image:url('../images/phone-template.png');
  background-repeat:no-repeat;
}

#screen{
	background-color:white;
	top:260px;
	left:64px;
	height:600px;
	width:473px;
	display:block;
	position:absolute;
	overflow:hidden;
}
a {
  color: #00B7FF;
}